*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f7f7;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 500px;
  align-items: center;
}

input{
  width: 500px;
  height: 50px;
  background-color: white;
  border: none;
  padding-left: 15px;
  margin-top: 15px;
}

select{
width: 500px;
height: 50px;
background-color: white;
border: none;
margin-top: 33px;
}

button{
width: 300px;
height: 30px;
margin-left: 45px;
margin-top: 4px;
}

.list-item{
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 500px;
  height: 50px;
  margin-top: 5px;
}

.list-item h5{
  padding-top: 25px;
  padding-left: 12px;
}

.expenseIndicator{
  display: block;
  border-right: 4px solid red;
  width: 100px;
  height: 47px;

}

.incomeIndicator{
  display: block;
  border-right: 4px solid green;
  width: 100px;
  height: 47px;
}